* {
    box-sizing: border-box;
}

body {
    background-color: #4273A1;
    margin: 0;
    font-family: "Segoe UI";
}

main {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0;
}

button{
    padding: 10px;
    border-radius: 5px;
}

.title{
    grid-area: 1/1/2/2;
}

.inputs-wrapper {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.maze-create, .run-maze {
    text-align: center;
    margin: auto;
    width: 60%;
}

h1 {
    text-align: center;
}

.maze-create-inputs, .run-maze-inputs {
    display: flex;
    justify-content: space-around;
}

.size-slider {
    -webkit-appearance: none;
    height: 25px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.size-slider:hover {
    opacity: 1;
}

.size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: gray;
    cursor: pointer;
}

.size-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: gray;
    cursor: pointer;
}


.maze {
    display: grid;
    height: 90vh;
    width: 106vh;
    background-color: #4273A1;
    margin: 35px auto 35px auto;
}

.run-wrapper {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cell {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: #79B5ED;
    transition: all 20ms linear;
}

.right-fill, .left-fill {
    background-color: #4273A1;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-family: Verdana, serif;
    font-size: 1.3em;
    align-items: center;
}

.right-fill{
    justify-content: flex-end;
}

.visited {
    background-color: lightblue;
}

.current {
    background-color: #123456;
}

.path {
    background-color: limegreen;
}

.route{
    background-color: red;
}

.path.route{
    background-color: purple;
}

.path.route-taken{
    background-color: purple !important;
}

.player{
    background-color: red !important;
}

.hidden {
    display: none;
}